<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="crudOperations" class="org.imaginea.spring_practice.CRUDOperationService">
	</bean>
	<bean id="getConnection" class="org.imaginea.spring_practice.ConnectionUtilService">
	<property name="messageSource" ref="messageSource"></property>
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basename">
	<value>configuration</value>
	</property>
	</bean>
</beans>